<div class="strip strip-basic" id="strip" title="strip">
			<div class="panel"></div>
			<div class="panel"></div>
			<div class="panel"></div>
		</div>
		<div class="page page-basic" id="page" title="page">
			<div class="panel"></div>
			<div class="panel"></div>
			<div class="panel"></div>
			<div class="panel"></div>
			<div class="panel"></div>
			<div class="panel"></div>
			<div class="panel"></div>
			<div class="panel"></div>
			<div class="panel"></div>
		</div>
		<div class="spread spread-basic" id="spread" title=
		"spread">
			<div class="page">
				<div class="panel"></div>
				<div class="panel"></div>
				<div class="panel"></div>
				<div class="panel"></div>
				<div class="panel"></div>
				<div class="panel"></div>
				<div class="panel"></div>
				<div class="panel"></div>
				<div class="panel"></div>
			</div>
			<div class="page">
				<div class="panel"></div>
				<div class="panel"></div>
				<div class="panel"></div>
				<div class="panel"></div>
				<div class="panel"></div>
				<div class="panel"></div>
				<div class="panel"></div>
				<div class="panel"></div>
				<div class="panel"></div>
			</div>
</div>
